
<h1>Sistema de Evaluación Universitario (SEU)</h1>
<h4>Ingresar como</h4>

<div class="escoger row">
  <div class="actores col-md-12">
    <div class="estudiante col-md-4">
      <div class="imagen">Estudiante</div>
      <div class="btn btn-info">
	<%= link_to 'Ingresar', controller: 'questions' %>
      </div>
    </div>
    <div class="docente col-md-4">
      <div class="imagen">Docente</div>
      <div class="btn btn-info">
	<%= link_to 'Ingresar', controller: 'questions' %>
      </div>
    </div>
    <div class="director col-md-4">
      <div class="imagen">Director de Programa</div>
      <div class="btn btn-info">
	<%= link_to 'Ingresar', controller: 'questions' %>
      </div>
    </div>
    <div class="director col-md-3">
      <div class="imagen">Administrador</div>
      <div class="btn btn-info">
	<%= link_to 'Ingresar', controller: 'questions' %>
      </div>
    </div>
  </div>

</div>
