<div id="logo">
  <h1>Sistema de Evaluación Universitario (SEU)</h1>
</div>
<hr>
<div class="escoger row">

  <div class="actores span12">
    <div class="estudiante span3">
      <div class="imagen">Estudiante</div>
      <%= link_to 'Ingresar', '/questions', :class => "btn btn-info" %>
    </div>
    <div class="docente span3">
      <div class="imagen">Docente</div>
      <%= link_to 'Ingresar', '/questions', :class => "btn btn-success" %>
    </div>
    <div class="director span3">
      <div class="imagen">Director de Programa</div>
      <%= link_to 'Ingresar', '/questions', :class => "btn btn-warning" %>
    </div>
    <div class="administrador span3">
      <div class="imagen">Administrador</div>
      <%= link_to "Ingresar", '/questions', :class => "btn btn-primary" %>  
    </div>
  </div>

</div>

